@model doanthuctap.Models.CTHOADON

@{
    ViewBag.Title = "Formthemhoadonlap";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Formthemhoadonlap</h2>

@using (Html.BeginForm("themhoadonlap","laphoadon",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CTHOADON</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.Mact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mact, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Mahd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                SelectList dshd = new SelectList(ViewBag.dshd, "Mahd", "Mahd");
            }
            @Html.DropDownListFor(model => model.Mahd, dshd, "----Select List----", new { @class = "custom-control custom-select" })

            @*@Html.EditorFor(model => model.Mahd, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Mahd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dntt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dntt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dntt, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Dongia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Ngaythanhlap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngaythanhlap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ngaythanhlap, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Makh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                SelectList dskh = new SelectList(ViewBag.dskh, "Makh", "Tenkh");
            }
            @Html.DropDownListFor(model => model.Makh, dskh, "----Select List----", new { @class = "custom-control custom-select" })
            @*@Html.EditorFor(model => model.Makh, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Makh, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.chitietdongia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           
            @Html.EditorFor(model => model.chitietdongia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.chitietdongia, "", new { @class = "text-danger" })
        </div>
    </div>*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
