@model doanthuctap.Models.cthoadonviewmodel

@{
    ViewBag.Title = "IndexHDL";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>IndexHDL</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Mact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Mahd)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Dntt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Ngaythanhlap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Madk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().chitietdongia)
        </th>


    </tr>

@foreach (var item in Model.CTHoadon)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOADON.Mahd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dntt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOADON.Tongthanhtien)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaythanhlap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Madk)
        </td>
        <td>
            @Html.TextAreaFor(modelitem => item.chitietdongia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
