@model doanthuctap.Models.cthoadonviewmodel

@{
    ViewBag.Title = "IndexHDL";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh sách các hóa đơn được lập</h2>



<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Mact)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Mahd)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Dntt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Ngaythanhlap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().Madk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTHoadon.FirstOrDefault().chitietdongia)
        </th>


    </tr>

@foreach (var item in Model.CTHoadon)
{
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Mact)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.HOADON.Mahd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dntt)
        </td>
        <td>
            @{
                @*@(String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:#,###}", item.Tongthanhtien) + " VND")*@
            string dongia = String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:#,###}", item.HOADON.Tongthanhtien) + " VND";
            }
            @Html.DisplayFor(modelItem => dongia)


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaythanhlap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Madk)
        </td>
        <td>
           
            @Html.TextAreaFor(modelitem => item.chitietdongia)
        </td>
        <td>
            @Html.ActionLink("Delete", "Formxoalaphoadon", new {  id=item.Mact })
        </td>
    </tr>
}

</table>
