@model doanthuctap.Models.KHACHHANG

@{
    ViewBag.Title = "Formxoakhachhang";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


@if (ViewBag.Xoakh == true)
{
    <h3>Bạn có muốn xóa khách hàng này không ?</h3>
}
else
{
    <h3>Bạn không thể xóa khách hàng này</h3>
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã Khách Hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makh)
        </dd>

        <dt>
            @Html.DisplayName("Tên Khách Hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenkh)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            @Html.DisplayName("Điện Thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

        <dt>
            @Html.DisplayName("CMND")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

    </dl>

    @using (Html.BeginForm("xoakhachhang", "KhachHang", new { id = Model.Makh }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.Xoakh == true)
            {
                <input type="submit" value="Delete" class="btn btn-primary" />
            }
            else
            {
                <h5>Khách hàng này có tên trong danh sách điện kế</h5>
            }

        </div>
    }

    @Html.ActionLink("Back to List", "IndexKH")
</div>
