@model IEnumerable<doanthuctap.Models.KHACHHANG>

@{
    ViewBag.Title = "IndexKH";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>IndexKH</h2>

<p>
    @Html.ActionLink("Create New", "Fromthemkhachhang")
</p>
@using (Html.BeginForm("FindKH","KhachHang",FormMethod.Get))
{
    @Html.TextBox("id")<input type="submit" value="Search"/>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Makh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenkh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Makh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenkh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.ActionLink("Edit", "Formsuakhachhang", new { id = item.Makh }) |
            @Html.ActionLink("Delete", "Formxoakhachhang", new { id = item.Makh })
        </td>
    </tr>
}

</table>
