@model IEnumerable<doanthuctap.Models.KHACHHANG>

@{
    ViewBag.Title = "IndexKH";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Fromthemkhachhang")
</p>
@using (Html.BeginForm("FindKH", "KhachHang", FormMethod.Get))
{
    @Html.TextBox("id") <input type="submit" value="Search" />
   
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã Khách Hàng")
        </th>
        <th>
            @Html.DisplayName("Tên Khách Hàng")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("CMND")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.ActionLink("Edit", "Formsuakhachhang", new { id = item.Makh }) |
                @Html.ActionLink("Delete", "Formxoakhachhang", new { id = item.Makh })
            </td>
        </tr>
    }

</table>
